<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>jsp/home.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
		<listener-class>com.manik.general.Security.ClearMemory</listener-class>
  </listener>
  
  <listener>
  	<listener-class>com.manik.general.listeners.AppServletListener</listener-class>
  </listener>
  
  <filter>
  	<filter-name>Security Filter</filter-name>
  	<filter-class>com.manik.general.Security.SecurityFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>Security Filter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>Initialisation Filter</filter-name>
  	<filter-class>com.manik.general.Initialize.InitializeAppFilter</filter-class>
  </filter>
  
   <filter-mapping>
  	<filter-name>Initialisation Filter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>